# Eclipse output files
*.SMSPEC
*.UNSMRY
*.PRT
*.ECLEND
*.GRID
*.INSPEC
*.DBG
*.EGRID
*.INIT
*.MSG
*.RSSPEC
*.UNRST

# LaTeX output files
*.log
*.pdf
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.bbl
*.blg
*.bib~

# Sublime workspace
*.sublime-workspace
*.ptex

# Beamer aux files
*.nav
*.out
*.snm
*.toc
*.vrb